# Ambiente virtual
venv/
env/
.venv/

# Cache do Python
__pycache__/
*.pyc

# Cache do Streamlit
.streamlit/secrets.toml

# Configurações do editor
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db